/DESIN/NetBeans/Actividad1/nbproject/private/
/DESIN/NetBeans/Actividad1/build/
/DESIN/NetBeans/Actividad3/nbproject/private/
/DESIN/NetBeans/Actividad3/build/
/DESIN/NetBeans/Actividad4/nbproject/private/
/DESIN/NetBeans/Actividad4/build/
/DESIN/NetBeans/Examen/nbproject/private/
/DESIN/NetBeans/Examen/build/
